<!-- For mobile View -->
<div class="lg:hidden sm:inline-flex">
  <br />
  <a routerLink="/home" class="px-5 text-3xl p-2 font-medium items-center text-main darkthemewhite font-mono">
    Ekim Basoglu
  </a>
</div>

<!-- Desktop -->
<div class="hidden lg:flex h-15 border-b flex-shrink-0 border-gray-100 dark:border-gray-900 w-full justify-between items-center px-3 lg:px-5 fixed bg-white dark:bg-gray-900 font-mono">
  <a routerLink="/home" class="text-2xl p-2 font-medium inline-flex items-center text-main darkthemewhite">
      Ekim Basoglu
  </a>
  <div class="flex calc-h-full-5">
      <button class="flex items-center h-10 rounded text-xl p-5 darkthemewhite">
          <span class="hidden lg:inline ml-3"><a routerLink="/my-projects">[my·projects]</a></span>
      </button>
      <button class="flex items-center h-10  rounded text-xl p-2 darkthemewhite">
          <span class="hidden lg:inline ml-3"><a routerLink="/contact">[contact]</a></span>
      </button>
  </div>
</div>

<br /><br /><br />

