<!-- For mobile View -->
<div class="lg:hidden sm:inline-flex">
  <br />
  <a routerLink="/home" class="px-5 text-3xl p-2 font-medium items-center text-main darkthemewhite font-mono">
    Ekim Basoglu
  </a>
</div>

<!-- Desktop -->
<div class="hidden lg:flex h-15 border-b flex-shrink-0 border-gray-100 dark:border-gray-900 w-full justify-between items-center px-3 lg:px-5 fixed bg-white dark:bg-gray-900 font-mono">
  <a routerLink="/home" class="text-2xl p-2 font-medium inline-flex items-center text-main darkthemewhite">
      Ekim Basoglu
  </a>
  <!-- <div class="flex order-2 calc-h-full-5">
    <button class="flex items-center h-10 rounded p-5 darkthemewhite">
      <span class="hidden lg:inline ml-3"><a href="/assets/ekimbasoglu_resume.pdf" download>[resume]</a></span>
    </button>
  </div> -->
  <div class="flex order-1 calc-h-full-5">
      <button class="flex items-center h-10 rounded p-2 darkthemewhite">
          <span class="hidden lg:inline ml-3"><a routerLink="/my-projects">[my·projects]</a></span>
      </button>
      <button class="flex items-center h-10  rounded p-2 darkthemewhite">
          <span class="hidden lg:inline ml-3"><a routerLink="/contact">[contact]</a></span>
      </button>
  </div>
  <button class="flex items-center h-10 text-blue-800 dark:text-green-600 rounded p-2 darkthemewhite">
    <span class="hidden lg:inline ml-3"><a routerLink="/journey">[journey]</a></span>
  </button>
  <button class="flex items-center h-10 rounded p-2 darkthemewhite">
    <span class="hidden lg:inline ml-3"><a href="/assets/ekimbasoglu_resume.pdf" download>[resume]</a></span>
  </button>
</div>

<br /><br /><br />

