@@ -0,0 +1,30 @@
<section class="flex-auto py-6 px-5 md:px-10 overflow-auto scrolling-touch">
  <div class="mx-auto max-w-screen-md">
      <h2 class="text-3xl font-semibold mb-7 leading-relaxed font-mono text-blue-800 dark:text-green-600">[the&middot;journey]</h2>
      <p class="text-2xl font-semibold mb-3 leading-relaxed">
        Hi, I'm Ekim
      </p>
      <p class="text-lg font-normal leading-relaxed">
          I raised & born in Istanbul, Turkey???? and I'm currently located in Belgrade, Serbia????. I'm a software engineer with 2+ years of experience in the industry.?? I'm a backend developer with a passion for building beautiful, functional, and scalable web applications. I'm always looking for new challenges and opportunities to learn new things.?
      </p>

    <h1 class="font-mono mt-5">by years;??</h1>
    <div class="my-6 text-md font-mono font-normal leading-tight">
    <span class="">-2018-</span>
    <p class="text-md font-sans leading-loose">Applied for Kharkiv Polytechnic Institute for Computer Engineering, didn't started.</p>
    <br>
    <span class="">-2019-</span>
    <p class="text-md font-sans leading-loose">Applied and started for Singidunum University for Software and Data Engineering</p>
    <br>
    <span class="">-2021-</span>
    <p class="text-md font-sans leading-loose">Finished the second year of faculty, and did Internship at 30Hills as Backend Developer</p>
    <br>
    <span class="">-2022-</span>
    <p class="text-md font-sans leading-loose">Started working on OSF Digital fulltime as Backend Developer</p>
    <br>
    <span class="">-2023-</span>
    <p class="text-md font-sans leading-loose">Still studying on the last year of faculty, looking for fulltime developer job!</p>
    </div>
  <app-footer></app-footer>
</div>
</section>
