
<body class="bg-white h-full flex flex-col dark:bg-gray-900 dark:text-white">

  <main class="calc-h-full-15 flex">
      <section class="flex-auto py-6 px-5 md:px-10 overflow-auto scrolling-touch">
          <div class="mx-auto max-w-screen-md ">
              <div class="font-bold mt-10 p-1 mb-10 border-b-4 border-solid border-black md:max-w-3xl md:text-xl dark:border-white">
                  <h2 class="text-4xl font-bold leading-relaxed text-main dark:text-white">☎️ You can reach me here</h2>
              </div>

              <form action="https://formspree.io/f/xbjenryp" method="POST" id="contact-form" enctype="multipart/form-data" class="p-15 flex-1">
                  <p class="text-[22px] font-semibold mb-3 ml-auto leading-relaxed text-indigo-800 dark:text-white">Name Surname:<input type="text" name="name" id="name" placeholder="John Doe" required minlength='5' autofocus class="ml-1 border-b-4 border-gray-300 border-solid w-auto dark:bg-gray-900"></p>
                  <p class="text-[22px] font-semibold mb-3 ml-auto leading-relaxed text-indigo-800 dark:text-white">Company:<input type="text" name="company" id="company" placeholder="" class="ml-1 border-b-4 border-gray-300 border-solid w-auto dark:bg-gray-900"></p>
                  <p class="text-[22px] font-semibold mb-3 pl-auto leading-relaxed text-indigo-800 dark:text-white">Email:<input type="email" name="email" id="email" required placeholder="johndoe@hotmail.com" class="ml-1 border-b-4 border-gray-300 border-solid w-auto dark:bg-gray-900"></p>
                  <p class="text-[22px] font-semibold mb-3 pl-auto leading-relaxed text-indigo-800 dark:text-white">Why do you want to reach me?<input type="text" required name="description" id="description" placeholder="" minlength='5' class=" border-b-4 border-gray-300 border-solid w-full dark:bg-gray-900"></p>
                  <button type="submit" class="flex ml-auto mt-7">Send</button>
              </form>

              <span class="text-2xl font-semibold mb-3 leading-relaxed text-main dark:text-white">
                  You can always reach me from;
              </span>
              <div class="flex mt-3 pl-2">
                  <a href="https://www.linkedin.com/in/ekim-basoglu/" target='_blank' rel='noopener noreferrer'><img src="assets/images/social/linkedin.png" alt="linkedin" class="w-6 mr-4 fill-current dark:bg-white"/></a>
                  <a href="https://github.com/ekimbasoglu/" target='_blank' rel='noopener noreferrer'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-4 fill-current darkthemewhite"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
              </div>
          <app-footer></app-footer>
      </div>
      </section>
  </main>
</body>
