
<main class="calc-h-full-15 flex darkthemewhite">
  <section class="flex-auto py-6 px-5 md:px-10 overflow-auto scrolling-touch">
      <div class="mx-auto max-w-screen-md">
          <h2 class="text-4xl font-bold mb-7 leading-relaxed">Hi, I'm Ekim.</h2>
          <p class="text-2xl font-semibold mb-3 leading-relaxed">
              Backend Developer
          </p>
          <p class="text-lg font-normal leading-relaxed">
              Since my enthusiasm for computers combined with software, I enjoy it while developing myself in the software field. I challenge myself and spend my spare time learning different javascript frameworks.
          </p>
          <div class="flex mt-4">
              <a href="https://www.linkedin.com/in/ekim-basoglu/" target='_blank' rel='noopener noreferrer'><img [src]="linkedInImage" alt="linkedin" class="w-6 mr-4 fill-current dark:bg-white"/></a>
              <a href="https://github.com/ekimbasoglu/" target='_blank' rel='noopener noreferrer'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-4 fill-current "><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
        </div>

      <div class="font-bold mt-10 mb-5 p-3 border-b-4 border-solid border-black md:max-w-3xl md:text-xl dark:border-white">
          <span class="text-2xl ">💻 The Journey</span>
      </div>


      <ul class="mt-7 list-none flex">
        <span class="font-bold text-xl mb-5 flex ">Present</span>
          <li>
              <div class="flex flex-1 mb-5 ml-10">
                  <span role="img" aria-label="computer">💻
                    Backend Developer at <strong><a href="https://osf.digital/">OSF Digital</a></strong><em class="text-gray-800 text-s dark:text-gray-400 pl-1">(Jan 2022 – Jul 2023)</em>
                  <app-read-more>
                      <div class="accordion-header"></div>
                      <div class="accordion-content">
                        > My primary role in the Sephora project was designing and implementing backend solutions, additionally, I contributed to resolving frontend issues. Based on Salesforce ecosystem powered by Javascript and Node.js
                      </div>
                    </app-read-more>
                    <br />
                  📚 Software and Data Engineering student at <strong><a href="https://singidunum.ac.rs/">Singidunum University</a></strong><em class="text-gray-800 text-s dark:text-gray-400 pl-1">(2019 – 2023)</em>
                  <app-read-more>
                  <div class="accordion-header"></div>
                  <div class="accordion-content">
                    > So far I focused on subjects Algorithms and Data Structures, OOP, Web Programming and Computer Networks for Software Engineering. For data I had AI, IoT, Computer Vision subjects.
                     <a class="italic text-blue-900" href="https://singidunum.ac.rs/admission/study-programme/software-and-data-engineering-english">[more-info]</a></div>
                  </app-read-more>
                </span>
              </div>
          </li>
      </ul>
      <br />

      <ul class="mt-1.5 list-none flex">
        <span class="font-bold text-xl flex">Past</span>
          <li>
              <div class="flex flex-1 mb-5 ml-16">
                  <span role='img' aria-label='computer'>💻 Backend Developer Internship at <strong><a href="https://30hills.com" target='_blank' rel='noopener noreferrer'>30Hills</a></strong></span><em class="text-gray-800 dark:text-gray-400 text-s pl-1">(Jun – Sep 2021)</em>
              <div class="pl-3"><app-read-more>
                <div class="accordion-header"></div>
                <div class="accordion-content">
                  > I was for the first time a part of the team, and had many workshops about how to develop a project, my first real experience with Js/Node.js. I understood the requirements of Agile Methodologies.</div>
              </app-read-more></div>
            </div>
          </li>
      </ul>

      <div class="font-bold mt-10 mb-5 p-3 border-b-4 border-solid border-black md:max-w-3xl md:text-xl dark:border-white ">
          <span class="text-2xl">🛠 Technology Stack</span>
      </div>
      <ul style="list-style: square inside;" class="mt-1.5 mb-4 ">
          <li>
              I'm currently focused on <span class="techspan border-yellow-300 ">Javascript</span> with <span class="techspan border-red-700">Angular</span>,
               I invest my spare time to practice more with <span class="techspan border-nodejs">Node.js</span>, nowadays I'm interested in <span class="techspan border-blue-600">DevOps</span> in general😄
          </li>
      </ul>

      <ul style="list-style: square inside;" class="mt-1.5 ">
          <li>
              I know how to write Tests and Documentation for <span class="techspan border-yellow-300 ">Javascript</span>
          </li>
      </ul>

      <ul style="list-style: square inside;" class="mt-1.5 ">
          <li>
              I'm familiar with <span class="techspan">Agile Methodologies </span>using <span class="techspan">Scrum</span>
          </li>
      </ul>

      <br/>
      <p class="italic text-m font-semibold mb-3 leading-relaxed ">
          What've I done so far?
      </p>

      <ul style="list-style: square inside;" class="list-disc mt-1.5 ">
          <li>
              I worked with Salesforce Commerce Cloud powered by <span class="techspan border-yellow-300 ">Javascript</span> and <span class="techspan border-nodejs">Node.js</span>. I implemented 3rd party APIs, worked with payment instruments.
              I've worked with couple of frontend fixes⚡
          </li>
      </ul>

      <!-- Mobile contact -->
      <div class="lg:hidden font-bold mt-10 p-1 border-b-4 border-solid border-black md:max-w-3xl md:text-xl dark:border-white">
          <h2 class="text-xl font-bold leading-relaxed dark:text-white">☎️ You can reach me here</h2>
      </div>

      <form action="" class="p-5 left-0 flex-1 lg:hidden">
              <p class="text-base font-semibold mb-3 ml-auto leading-relaxed text-indigo-800 dark:text-white">Name Surname:<input type="text" name="" id="" placeholder="John Doe" required minlength='5' class="border-b-4 border-gray-300 border-solid dark:bg-gray-900"></p>
              <p class="text-base font-semibold mb-3 ml-auto leading-relaxed text-indigo-800 dark:text-white">Company:<input type="text" name="" id="" placeholder="" class="ml-1 border-b-4 border-gray-300 border-solid  dark:bg-gray-900"></p>
              <p class="text-base font-semibold mb-3 pl-auto leading-relaxed text-indigo-800 dark:text-white">Email:<input type="email" name="" id="" required placeholder="johndoe@hotmail.com" class="ml-1 border-b-4 border-gray-300 border-solid dark:bg-gray-900"></p>
              <p class="text-base font-semibold mb-3 pl-auto leading-relaxed text-indigo-800 dark:text-white">Why do you want to reach me?<input type="text" required name="" id="" placeholder="" minlength='5' class=" border-b-4 border-gray-300 border-solid w-full dark:bg-gray-900"></p>
              <button type="submit" class="flex ml-auto mt-7 ">Send</button>
      </form>

      <app-footer></app-footer>
  </div>
  </section>
</main>
